.App {
  text-align: center;
}

.content-container {
  margin: 20px auto;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  width: 80%;
  margin: auto;
}

.header-container {
  width: 100%;
  height: 60px;
  background-color: white;
}