.VoteButton {
  display: inline-block;
}

.VoteButton:hover {
  cursor: pointer;
}

.VoteButton:active {
  background-color: rgb(206, 206, 206);
  border-radius: 100px;
  box-shadow: 0 0 3px rgb(159, 159, 159);
}