.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: white;
  font-family: 'gotham-book', sans-serif;
  font-size: 11.25px;
  height: 100%;
  text-decoration: none;
  /* margin: 0 -10px; */
}

.NC-logo {
  height: 45px;
  width: 200px;
  grid-column: 2;
  border-bottom: solid 2px rgb(70, 70, 70);
  margin: 10px auto 0;
}

h1 {
  margin: 3px 5px;
  grid-column: 2;
  color: rgb(70, 70, 70);
}

.app-bar {
  /* display: inline-block; */
}