.comment-form {
  display: grid;
  grid-template-columns: 1fr;
}

.modal-close {
  float: right;
}

.comment-input {
  grid-column: 1;
  grid-row: 2;
  width: 90%;
  margin:  30px auto;
  margin-right: none;
  font-size: 14px;
  padding: 5px;
  height: 150px;
  resize: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 4px rgb(167, 167, 167);
}

.submit-button {
  grid-column: 1;
  grid-row: 3;
  margin: auto;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(167, 167, 167);
  background-color: rgb(216, 216, 216);
  font-size: 13px;
  font-weight: bold;
  color: rgb(106, 106, 106);
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:active {
  background-color: rgb(189, 189, 189);
}